<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <appSettings>
    <add key="Cook" value="C:\Users\user\Desktop\Новая папка (3)\WPF_OrderMakingApp\WpfApp1\DataSources\CooksInformtaion.txt"/>
    <add key="Dish" value="C:\Users\user\Desktop\Новая папка (3)\WPF_OrderMakingApp\WpfApp1\DataSources\MenuInformtaion.txt"/>
  </appSettings>
</configuration>